.App {
  background: scroll;
  min-height: calc(100vh - 40px);
}

.footer {
  background-color: rgb(33, 37, 41);
  align-self: end;
  grid-column: 2;
  padding: 20px;
  text-align: center;
  color: white;
}

.footer a {
  color: pink;
  text-decoration: none;
}

.container button {
  margin: 10px;
}

.card {
  padding: 2em;
}
