.page-top {
  display: grid;
  grid-gap: 1em 0 1em 0;
  box-shadow: none;
  border: none;
}

.article-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
}
